<div
        ba-panel
        ba-panel-title="Cadastro de item"
        ba-panel-class="with-scroll">
    <form>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao" placeholder="Descrição" ng-model="item.descricao">
        </div>
        <div class="form-group">
            <label for="UNitem">Unidade</label>
            <select name="UNitem" id="UNitem" class="form-control" ng-model="item.unidade">
                <option value=""> -</option>
                <option ng-repeat="unidade in itensUnidade" value="{{unidade.id}}">{{unidade.descricao}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="TPitem">Tipo do item</label>
            <select name="TPitem" id="TPitem" class="form-control" ng-model="item.tipo">
                <option ng-repeat="tipo in itensTipo" value="{{tipo.id}}">{{tipo.descricao}}</option>
            </select>
        </div>
        <div class="form-group">
            <switch ng-model="item.ativo" color="success" on-text="Ativo" off-text="Desativado" size="mini"></switch>
        </div>
        <div class="form-group">
            <label for="GRitem">Grupo do item</label>
            <select name="GRitem" id="GRitem" class="form-control" ng-model="item.grupo">
                <option ng-repeat="grupo in itensGrupo" value="{{grupo.id}}">{{grupo.descricao}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="custo">Custo R$</label>
            <input type="number" class="form-control" min="1" step="any" id="custo" placeholder="Custo"
                   ng-model="item.custo">
        </div>
        <div class="form-group">
            <label for="qtdseg">Quantidade segurança</label>
            <input type="number" class="form-control" id="qtdseg" placeholder="Quantidade de segurança"
                   ng-model="item.qtdSeguranca">
        </div>
        <div class="form-group">
            <label for="qtdrepo">Quantidade reposição</label>
            <input type="number" class="form-control" id="qtdrepo" placeholder="Quantidade de reposição"
                   ng-model="item.qtdReposicao">
        </div>
        <div class="form-group">
            <label for="CDestqPri">Estoque principal</label>
            <select name="CDestqPri" id="CDestqPri" class="form-control" ng-model="item.estoque">
                <option value=""> -</option>
                <option ng-repeat="estoque in itensEstoque" value="{{estoque.id}}">{{estoque.descricao}}</option>
            </select>
        </div>
        <button class="btn btn-with-icon btn-success" ng-click="salvarItem(item)">
            <i class="ion-checkmark-circled"></i>
            Salvar
        </button>
        <button class="btn btn-with-icon btn-info" ng-click="openModalVariacao()">
            <i class="ion-checkmark-circled"></i>
            Adicionar variações
        </button>
        <div class="form-group">
            <div ng-include="'app/pages/item/views/variacao-lista.html'"></div>
        </div>
    </form>

</div>
