<div
        ba-panel
        ba-panel-title="Cadastro de variação"
        ba-panel-class="with-scroll">
    <form>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input ng-model="variacao.descricao" type="text" class="form-control" id="descricao" placeholder="Descrição">
        </div>
        <button class="btn btn-with-icon btn-success" ng-click="salvarVariacao(variacao)">
            <i class="ion-checkmark-circled"></i>
            Salvar
        </button>
    </form>
</div>
