<div ng-show="produtos.length" ba-panel ba-panel-class="panel-invisible light-text">
    <div class="btn-group hidden-md hidden-lg" uib-dropdown dropdown-append-to-body>
        <button class="btn btn-with-icon btn-success" ng-click="finalizarVenda('dinheiro')">
            <i class="ion-cash"></i>
            Dinheiro
        </button>
        <button type="button" class="btn btn-success " uib-dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul uib-dropdown-menu>
            <li><a ng-click="finalizarVenda('cartao')">Cartão</a></li>
            <li><a ng-click="finalizarVenda('credito')">Crédito</a></li>
        </ul>
    </div>
    <div class="hidden-xs hidden-sm row">
        <div class="col-md-2 col-lg-2">
            <h3>Finalizar venda</h3>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="padding-one col-lg-3 col-md-12">
                <button class="btn btn-block btn-with-icon btn-success" ng-click="finalizarVenda('dinheiro')">
                    <i class="ion-cash"></i>
                    Dinheiro
                </button>
            </div>
            <div class="padding-one col-lg-3 col-md-12">
                <button class="btn btn-block btn-with-icon btn-warning" ng-click="finalizarVenda('cartao')">
                    <i class="ion-card"></i>
                    Cartão
                </button>
            </div>
            <div class="padding-one col-lg-3 col-md-12">
                <button class="btn btn-block btn-with-icon btn-danger" ng-click="finalizarVenda('credito')">
                    <i class="ion-loop"></i>
                    Crédito
                </button>
            </div>
        </div>
    </div>
</div>

<uib-accordion ng-show="produtos.length">
  <uib-accordion-group panel-class="panel-primary bootstrap-panel accordion-panel" >
    <uib-accordion-heading>
      <i class="fa fa-shopping-cart"></i> {{getTotalVenda() | currency:"R$":2 }}
    </uib-accordion-heading>
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
  <tr>
    <td>Prod<span class="hidden-xs hidden-sm">uto</span></td>
    <td>Qtd</td>
    <td><span class="hidden-xs hidden-sm">Valor</span> <span class="hidden-md hidden-lg">R$</span></td>
    <td style="width: 15%;"></td>
  </tr>
  <tr ng-repeat="item in produtos">
    <td>
        <span>
          {{ item.nome }}
        </span>
    </td>
    <td>
        <span>
          {{ item.qtd }}
        </span>
    </td>
    <td>
        <span>
          {{item.preco * item.qtd | currency:"R$":2}}
        </span>
    </td>
    <td>
        <button ng-click="addItem(item.id, 1)" type="button" class="btn btn-success btn-icon"><i class="ion-plus-round"></i></button>
        <button ng-click="removeItem(item.id, 1)" type="button" class="btn btn-warning btn-icon"><i class="ion-minus-round"></i></button>
        <button ng-click="deletaItem(item.id)" type="button" class="hidden-xs hidden-sm btn btn-danger btn-icon"><i class="ion-close-circled"></i></button>
      
    </td>
  </tr>
</table>
</div>
  </uib-accordion-group>
</uib-accordion>
<div>
  <div class="row">
    <div class="col-md-12">
      <div
          ba-panel
          ba-panel-class="with-scroll horizontal-tabs tabs-panel large-panel">
        <uib-tabset>
          <uib-tab heading="Bebidas">
            
            <div class="col-md-3 col-lg-3" ng-repeat="item in itens" ng-if="item.type == 'bebida'">
                <div ng-click="addItem(item.id, 1)" class="panel panel-success panel-shadow contextual-example-panel bootstrap-panel {{item.panelColor}}">
                  <div class="panel-body success">
                    <div class="center-content text-center block">
                          <div class="text-center">
                            {{item.nome}}
                          </div>
                          <div class="text-center">
                            {{item.preco | currency:"R$":2}}
                          </div>
                    </div>
                  </div>
                </div>
              </div>

          </uib-tab>
          <uib-tab heading="Salgados & Doces">
            <div class="col-md-3 col-lg-3" ng-repeat="item in itens" ng-if="item.type == 'salgado'">
                <div class="panel panel-success panel-shadow contextual-example-panel bootstrap-panel {{item.panelColor}}">
                  <div class="panel-body">
                    <div class="center-content text-center block">
                          <div class="text-center">
                            {{item.nome}}
                          </div>
                          <div class="text-center">
                            R$ {{item.preco}}
                          </div>
                    </div>
                  </div>
                </div>
              </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>h